@import views.html.helper._
@(message: String)
@main("Welcome to Play") {
  <h1>Welcome to Play Music App!</h1>
  <ul>
    <li>Play shouts out: <em>@message</em></li>
    <li>Scala.js shouts out: <em id="scalaJsShoutout"></em></li>
  </ul>
  <ul>
    <li><a href=@routes.HomeController.addAlbum()>Add album here (Play)</a></li>
    <li><a href=@routes.ScalaJSController.index()>Add album here (ScalaJS)</a></li>
    <li><a href=@routes.HomeController.getAlbums()>Your albums are here</a></li>
    <li><a href=@routes.HomeController.playing()>What are you listening?</a></li>
    <li><a href=@routes.HomeController.top5All()>Top 5 songs of all users</a></li>

  </ul>

  <body>
    <button onclick="clickStuff()">Click here</button>
    <br>
    <canvas itemtype="hidden" id="canvas" width="800" height="600"></canvas>
  </body>
}
